<%= form_with(model: dataset, local: true) do |form| %>
  <% if dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>

      <ul>
      <% dataset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :dataset_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :dataset_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :blob, "Upload a dataset file" %>
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-small btn-primary btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
          <%= form.file_field :blob, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
          </span>
        <span class="form-control">
        <% if @dataset.file_path.blank? %>
          Please upload a dataset file.
        <% else %>
          <%= @dataset.file_path.split("/uploads/")[1] %>
        <% end %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :user_file_path, "... or define file path and leave file upload field blank" %>
    <%= form.text_field :user_file_path, value: @dataset.file_path, id: :dataset_user_file_path, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :file_size %>
    <%= form.text_field :file_size, id: :dataset_file_size, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dimensions %>
    <%= form.number_field :dimensions, id: :dataset_dimensions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :size %>
    <%= form.number_field :size, id: :dataset_size, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>
