<h1>
  <%= @dataset.title %>
  <small>
    <%= link_to ' | download', download_dataset_path(@dataset.id), target: "_blank" %>
    <%= link_to ' | edit', edit_dataset_path(@dataset) %>
    <%= link_to ' | destroy', @setting, method: :delete, data: { confirm: 'Are you sure?' } %>
  </small>
</h1>

<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @dataset.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dataset.description %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @dataset.file_path.split("/uploads/")[1] %>
</p>

<p>
  <strong>File size:</strong>
  <%= @dataset.file_size %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @dataset.dimensions %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dataset.size %>
</p>

<p>
  <strong>Used in projects:</strong>
  <ul class="list-group">
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.title, project_path(project.id), class: "list-group-item" %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to 'Back', datasets_path %>
</p>