<ul>
	<li><%= link_to 'Projects', projects_path %></li>
	<li><%= link_to 'Algorithms', algorithms_path %></li>
	<li><%= link_to 'Configurations', settings_path %></li>
	<li><%= link_to 'Datasets', datasets_path %></li>
	<li><%= link_to 'Experiments', experiments_path %></li>
</ul>