<%= form_with(model: algorithm, local: true) do |form| %>
  <% if algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(algorithm.errors.count, "error") %> prohibited this algorithm from being saved:</h2>

      <ul>
      <% algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :algorithm_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :algorithm_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, id: :algorithm_author, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :time_complexity %>
    <%= form.text_field :time_complexity, id: :algorithm_time_complexity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :space_complexity %>
    <%= form.text_field :space_complexity, id: :algorithm_space_complexity, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>
