<h1>
  Algorithms
  <small>
    <%= link_to ' | add new', new_algorithm_path %>
  </small>
</h1>

<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Time complexity</th>
      <th>Space complexity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @algorithms.each do |algorithm| %>
      <tr>
        <td><%= algorithm.title %></td>
        <td><%= algorithm.author %></td>
        <td><%= algorithm.time_complexity %></td>
        <td><%= algorithm.space_complexity %></td>
        <td><%= link_to 'Show', algorithm %></td>
        <td><%= link_to 'Edit', edit_algorithm_path(algorithm) %></td>
        <td><%= link_to 'Destroy', algorithm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>