<%= javascript_include_tag "dual-list-box" %>
<h1>
	Generate Config-File
	<small>
		<%= link_to ' | or upload configuration', new_setting_path %>
	</small>
</h1>

<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<form action="/generate_config_file" methdod="get" id="createConfigForm">
	<h2 class="form-group-heading">General</h2>

	<h3 class="form-group-sub-heading">Information</h3>

	<div class="form-group">
		<label for="project_id">Project</label>
		<select name="project_id" id="project_id" class="form-control">
			<option value="-1">Choose belonging project</option>
			<% @projects.each do |project| %>
				<option value="<%= project.id %>"><%= project.title %></option>
			<% end %>
		</select>
	</div>

	<div class="form-group">
		<label for="general_title">Configuration Title</label>
		<input type="text" name="general_title" id="general_title" placeholder="Type in configuration's title" class="form-control">
	</div>

	<div class="form-group">
		<label for="config_filename">Config Filename</label>
		<input type="text" name="config_filename" id="config_filename" placeholder="Type in config filename without file ending" class="form-control">
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<textarea class ="form-control" name="description" id="description" placeholder="Type in configuration's description"></textarea>
	</div>

	<h3 class="form-group-sub-heading">General Configuration Properties</h3>

	<div class="form-group">
		<label for="title">Experiment's Title</label>
		<input class ="form-control" type="text" name="title" id="title" placeholder="Type in experiment's title/topic">
	</div>

	<div class="form-group">
		<label for="env">ENV-Variables</label>
		<input class ="form-control" type="text" name="env" id="env" placeholder="Type in experiment's required environment variables">
	</div>

	<div class="form-group">
		<label for="path">Root Directory</label>
		<input class ="form-control" type="text" name="path" id="path" placeholder="Type in experiment's root directory">
	</div>

	<div class="form-group">
		<label for="path">Command</label>
		<input class ="form-control" type="text" name="cmd" id="cmd" placeholder="Type in command, which will be executed for starting the experiment, for example 'python test.py'">
	</div>

	<div class="form-group">
		<label>
			<input type="checkbox" data-toggle="toggle"  value=1 name="serialize_runs">
			Serialize differently parameterized runs
		</label>
	</div>

	<h3 class="form-group-sub-heading">Datasets</h3>

	<div class="form-group">
	    <div id="dataset_list" class="row"></div>
	    <select id="dual-dataset-list" multiple="multiple" name="use_dataset[]"></select>
	</div>

	<h3 class="form-group-sub-heading">Parameters</h3>

	<div class="param-controls">
		<div class="form-group">
			<div class="entry">
				<div class="col-xs-6" style="padding-left: 0px;">
					<input type="text" name="params[][name]" class="param-name-input form-control" placeholder="Type in parameter's name" />
				</div>
				<div class="input-group col-xs-6">
					<input type="text" name="params[][value]" class="param-value-input form-control" placeholder="Type in parameter's value" />
					<span class="input-group-btn">
                        <button class="btn btn-success btn-add" type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                	</span>
				</div>
			</div>
		</div>
	</div>

	<h2 class="form-group-heading">Export</h2>

	<div id="export_fields">
		<div class="csv-controls">
			<div class="form-group">
				<div class="entry">
					<div class="col-xs-4" style="padding-left: 0px;">
						<input type="text" name="csv[outputs][][name]" class="csv-outputs-name-input form-control" placeholder="Type in attribute's name" />
					</div>
					<div class="col-xs-4" style="padding-left: 0px;">
						<input type="text" name="csv[outputs][][pattern]" class="csv-outputs-pattern-input form-control" placeholder="Type in regex to find attributes value in stdout" />
					</div>
					<label for="csv-outputs-group-field" style="margin-left: 0px; padding-right: 0px; padding-top: 10px;" class="col-xs-2 control-label">Regex Result Group</label>
					<div class="input-group col-xs-2">
						<input id="csv-outputs-group-field" type="number" name="csv[outputs][][group]" class="csv-outputs-group-input form-control" min="0" />
						<span class="input-group-btn">
	                        <button class="btn btn-success btn-add" type="button">
	                            <span class="glyphicon glyphicon-plus"></span>
	                        </button>
	                	</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<label id="export_fields_button">
		<input type="checkbox" data-toggle="toggle"  value=1 name="ignore_csv_export">
		Ignore CSV Export
	</label>

	<h2 class="form-group-heading">Termination Constraints</h2>

	<h3 class="form-group-sub-heading">Timeout Constraints</h3>

	<div class="form-group" style="margin-top: 20px;">
		<label for="defaultError">Default Error Message</label>
		<input class="form-control" id="defaultError" type="text" name="stdoutParsing[errorPattern]" placeholder="Type in error message regex pattern on which algorithm will be terminated">
	</div>

	<div class="form-group" style="margin-top: 20px;">
		<label for="defaultTimeout">Default Timeout</label>
		<input class="form-control" id="defaultTimeout" type="number" min="0" name="defaultTimeout" placeholder="Type in time in seconds when an instance of an experiment timed out">
	</div>

	<div class="form-group">	
		<label for="outputPattern">Status Message Pattern</label>
		<input class="form-control" id="outputPattern" type="text" name="stdoutParsing[statusPattern]" placeholder="Type in status message regex pattern">
	</div>

	<div class="form-group">
		<label for="maxTimeSinceLastStatusMsg">Status Message dependent Timout</label>
		<input class="form-control" id="maxTimeSinceLastStatusMsg" type="number" min="0" name="stdoutParsing[maxTimeSinceLastStatusMsg]" placeholder="Type in timespan in seconds in which an algorithm has to send defined status message again to be called alive">
	</div>

	<h3 class="form-group-sub-heading">Performance Constraints</h3>

	<div class="row">
		<div class="col-xs-5">
			<label for="lossFunctionPattern">Loss Function Pattern</label>
			<input class="form-control" id="lossFunctionPattern" type="text" name="stdoutParsing[lossPattern]" placeholder="Type in loss function regex pattern">
		</div>
		<div class="col-xs-5">
			<label for="lossValuePattern">Loss Function Value Pattern</label>
			<input class="form-control" id="lossValuePattern" type="text" name="stdoutParsing[lossValuePattern]" placeholder="Type in loss function value regex pattern">
		</div>
		<div class="col-xs-2">
			<label for="minLossFunctionImprovementSinceLastIteration">Improvement Threshhold</label>
			<input class="form-control" id="minLossFunctionImprovementSinceLastIteration" type="number" min="0" step="0.005" name="stdoutParsing[minLossFunctionImprovementSinceLastIteration]" placeholder="Type in minimal decrease of loss function compared to last iteration">
		</div>
	</div>

	<div class="row" style="margin-top: 20px;">
		<div class="col-xs-5">
			<label for="accuracyPattern">Accuracy Function Pattern</label>
			<input class="form-control" id="accuracyPattern" type="text" name="stdoutParsing[accuracyPattern]" placeholder="Type in accuracy function regex pattern">
		</div>
		<div class="col-xs-5">
			<label for="accuracyValuePattern">Accuracy Function Value Pattern</label>
			<input class="form-control" id="accuracyValuePattern" type="text" name="stdoutParsing[accuracyValuePattern]" placeholder="Type in accuracy function value regex pattern">
		</div>
		<div class="col-xs-2">
			<label for="minAccuracyFunctionImprovementSinceLastIteration">Improvement Threshhold</label>
			<input class="form-control" id="minAccuracyFunctionImprovementSinceLastIteration" type="number" min="0" step="0.005" name="stdoutParsing[minAccuracyFunctionImprovementSinceLastIteration]" placeholder="Type in minimal increase of accuracy function compared to last iteration">
		</div>
	</div>

	<h2 class="form-group-heading">Notifiers</h2>

	<div id="notifiers_fields">
		<h3 class="form-group-sub-heading">Slack</h3>

		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-3">
				<input class="form-control" id="webhook_url" type="text" name="slack[webhook_url]" placeholder="Type in your personal slack webhook">
			</div>

			<div class="col-xs-3">
				<input class="form-control" id="icon" type="text" name="slack[icon]" placeholder="TYpe in bot's icon, such as ':golf:'">
			</div>

			<div class="col-xs-3">
				<input class="form-control" id="bot_name" type="text" name="slack[bot_name]" placeholder="Type in bot's chat name">
			</div>

			<div class="col-xs-3">
				<label>
					<input type="checkbox" data-toggle="toggle" value=1 name="slack[verbose]">
					Verbose notification of each run
				</label>
			</div>
		</div>

		<h3 class="form-group-sub-heading">Telegram</h3>

		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-4">
				<input class="form-control" id="token" type="text" name="telegram[token]" placeholder="Paste in your generated token for your created bot">
			</div>

			<div class="col-xs-4">
				<input class="form-control" id="chat_id" type="text" name="telegram[chat_id]" placeholder="Paste in your telegram's chat id">
			</div>

			<div class="col-xs-1"></div>

			<div class="col-xs-3">
				<label>
					<input type="checkbox" data-toggle="toggle"  value=1  name="telegram[verbose]">
					Verbose notification of each run
				</label>
			</div>
		</div>

		<h3 class="form-group-sub-heading">Mail</h3>

		<div class="row" style="margin-bottom: 20px;">
			<div class="col-xs-4">
				<input class="form-control" id="server" type="text" name="mail[server]" placeholder="Type in mail server, such as 'smtp.gmail.com'">
			</div>

			<div class="col-xs-4">
				<input class="form-control" id="user" type="text" name="mail[user]" placeholder="Type in your mail server's username">
			</div>

			<div class="col-xs-4">
				<input class="form-control" id="password" type="password" name="mail[password]" placeholder="Type in your password related to given username">
			</div>
		</div>
	</div>

	<label id="notifiers_fields_button">
		<input type="checkbox" data-toggle="toggle"  value=1  name="ignore_nofiers">
		Ignore notifiers
	</label>

	<hr>

	<input class="btn btn-primary" type="submit" value="Generate Config-JSON Files" />
</form>

<p>
	<%= link_to 'Back', settings_path %>
</p>