<h1>
  <%= @setting.title %>
  <small>
    <%= link_to ' | download', download_setting_path(@setting.id), target: "_blank" %>
    <%= link_to ' | edit', edit_setting_path(@setting) %>
    <%= link_to ' | destroy', @setting, method: :delete, data: { confirm: 'Are you sure?' } %>
  </small>
</h1>

<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @setting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @setting.description %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @setting.file_path.split("/uploads/")[1] %>
</p>

<p>
  <strong>Used in projects:</strong>
  <ul class="list-group">
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.title, project_path(project.id), class: "list-group-item" %>
      </li>
    <% end %>
  </ul>
</p>

<p>
	<%= link_to 'Edit', edit_setting_path(@setting) %> |
	<%= link_to 'Back', settings_path %>
</p>