<p id="notice"><%= notice %></p>

<h1>
  <%= @project.title %>
  <small>
    <%= link_to " | edit", edit_project_path(@project.id) %>
    <%= link_to " | destroy", @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  </small>  
</h1>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.owner %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @project.started_at %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @project.finished_at %>
</p>

<h2>Project's Components</h2>
<div style="display: flex;">
  <ul class="list-group" style="flex:1;">
    <li class="list-group-item active">
      <strong>
        Algorithms
      </strong>
    </li>
    <% @algorithms.each do |algorithm| %>
      <li>
        <%= link_to algorithm.title, algorithm_path(algorithm.id), class: "list-group-item" %>
      </li>
    <% end %>
  </ul>
  <ul class="list-group" style="flex:1; margin: 0px 20px;">
    <li class="list-group-item active">
      <strong>
        Configurations
      </strong>
    </li>
    <% @settings.each do |setting| %>
      <li>
        <%= link_to setting.title, setting_path(setting.id), class: "list-group-item" %>
      </li>
    <% end %>
  </ul>
  <ul class="list-group" style="flex:1;">
    <li class="list-group-item active">
      <strong>
        Datasets
      </strong>
    </li>
    <% @datasets.each do |dataset| %>
      <li>
        <%= link_to dataset.title, dataset_path(dataset.id), class: "list-group-item" %>
      </li>
    <% end %>
  </ul>
</div>

<h2>Project's Experiments</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Algorithm</th>
      <th>Configuration</th>
      <th>Dataset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= experiment.title %></td>
        <td><%= link_to experiment.algorithm.title, algorithm_path(experiment.algorithm.id) %></td>
        <td><%= link_to experiment.setting.title, setting_path(experiment.setting.id) %></td>
        <td><%= link_to experiment.dataset.title, dataset_path(experiment.dataset.id) %></td>
        <td><%= link_to 'Show', experiment %></td>
        <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
        <td><%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Back', projects_path %>
</p>