<%= form_with(model: experiment, local: true) do |form| %>
  <% if experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :experiment_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :experiment_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :project_id %>
    <% if @experiment.project.present? %>
      <%= form.select :project_id, options_from_collection_for_select(@projects, "id", "title", @experiment.project.id), {}, {required: 'true', class: 'form-control'} %>
    <% else %>
      <%= form.select :project_id, options_from_collection_for_select(@projects, "id", "title"), {}, {required: 'true', class: 'form-control'} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :algorithm_id %>
    <% if @experiment.algorithm.present? %>
      <%= form.select :algorithm_id, options_from_collection_for_select(@algorithms, "id", "title", @experiment.algorithm.id), {}, {required: 'true', class: 'form-control'} %>
    <% else %>
      <%= form.select :algorithm_id, options_from_collection_for_select(@algorithms, "id", "title"), {}, {required: 'true', class: 'form-control'} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :setting_id %>
    <% if @experiment.setting.present? %>
      <%= form.select :setting_id, options_from_collection_for_select(@settings, "id", "title", @experiment.setting.id), {}, {required: 'true', class: 'form-control'} %>
    <% else %>
      <%= form.select :setting_id, options_from_collection_for_select(@settings, "id", "title"), {}, {required: 'true', class: 'form-control'} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :dataset_id %>
    <% if @experiment.dataset.present? %>
      <%= form.select :dataset_id, options_from_collection_for_select(@datasets, "id", "title", @experiment.dataset.id), {}, {required: 'true', class: 'form-control'} %>
    <% else %>
      <%= form.select :dataset_id, options_from_collection_for_select(@datasets, "id", "title"), {}, {required: 'true', class: 'form-control'} %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
