<h1>
  Experiments
  <small>
    <%= link_to ' | add new', new_experiment_path %>
  </small>
</h1>

<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<table  class="table">
  <tbody>
    <% @experiments.group_by(&:project).each do |project, experiments| %>
      <tr style="font-weight: bold;" class="bg-primary">
        <td colspan="7"><%= project.title %></td>
      </tr>
      <tr style="font-weight: bold;" class="active">
        <td>Title</td>
        <td>Algorithm</td>
        <td>Configuration</td>
        <td>Dataset</td>
        <td colspan="3"></td>
      </tr>
      <% experiments.each do |experiment| %>
        <tr>
          <td><%= experiment.title %></td>
          <td><%= link_to experiment.algorithm.title, algorithm_path(experiment.algorithm.id) %></td>
          <td><%= link_to experiment.setting.title, setting_path(experiment.setting.id) %></td>
          <td><%= link_to experiment.dataset.title, dataset_path(experiment.dataset.id) %></td>
          <td><%= link_to 'Show', experiment %></td>
          <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
          <td><%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>