<h1>
  <%= @experiment.title %>
  <small>
    <%= link_to ' | edit', edit_experiment_path(@experiment) %>
    <%= link_to ' | destroy', @experiment, method: :delete, data: { confirm: 'Are you sure?' } %>
  </small>
</h1>

<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @experiment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experiment.description %>
</p>

<p>
  <strong>Project:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.project.title, project_path(@experiment.project.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <strong>Algorithm:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.algorithm.title, algorithm_path(@experiment.algorithm.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <strong>Configuration:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.setting.title, setting_path(@experiment.setting.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <strong>Dataset:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.dataset.title, dataset_path(@experiment.dataset.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <%= link_to 'Back', experiments_path %>
</p>