<h1>
  <%= @experiment.title %>
  <small>
    <%= link_to ' | edit', edit_experiment_path(@experiment) %>
    <%= link_to ' | destroy', @experiment, method: :delete, data: { confirm: 'Are you sure?' } %>
  </small>
</h1>

<% if !notice.blank? %>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<% end %>

<h2>Experiment's execution options</h2>

<p>
  <form id="startExperimentForm" action="http://127.0.0.1:8080/start_experiment" method="post" enctype="application/json">
    <input type="hidden" name="basicConfigFilePath" value="<%= @experiment.setting.file_path %>" />
    <input type="hidden" name="slackConfigFilePath" value="<%= @experiment.setting.file_path %>" />
    <input type="hidden" name="telegramConfigFilePath" value="<%= @experiment.setting.file_path %>" />
    <input type="hidden" name="mailConfigFilePath" value="<%= @experiment.setting.file_path %>" />
    <input type="hidden" name="timeoutConfigFilePath" value="<%= @experiment.setting.file_path %>" />

    <div class="input-group">
      <input class="form-control" type="number" name="repetitions" min="1" placeholder="Enter number of repetitions - determines how often experiment will be executed with properties as defined below">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-play icon-spacer"></span>
          Start Experiment
        </button>
      </span>
    </div>
  </form>
</p>

<h2>Detailed information</h2>

<p>
  <strong>Title:</strong>
  <%= @experiment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experiment.description %>
</p>

<p>
  <strong>Project:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.project.title, project_path(@experiment.project.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <strong>Algorithm:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.algorithm.title, algorithm_path(@experiment.algorithm.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <strong>Configuration:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.setting.title, setting_path(@experiment.setting.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <strong>Dataset:</strong>
  <ul class="list-group">
    <li>
      <%= link_to @experiment.dataset.title, dataset_path(@experiment.dataset.id), class: "list-group-item" %>
    </li>
  </ul>
</p>

<p>
  <%= link_to 'Back', experiments_path %>
</p>